<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>yum</title>
  </head>
  <body>
    <a href="/recipes">
      <h1>recipe book</h1>
    </a>
    <%= yield %>
  </body>
</html>
